body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #52AACE;
}

header {
    height: 291px;
    background-position-x: 10px;
    background: url("./images/header-img.jpg") no-repeat;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.nav-menu {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.nav-menu li {
    display: inline-block;
    padding: 0 25px;
    position: relative;
}

.nav-menu a {
    display: block;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #0F4762;
    line-height: 40px;
}

.nav-menu a:hover {
    color: white;
}

.nav-menu li:not(:first-child)::before {
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #0F4762;
    left: -3px;
    top: 50%;
    margin-top: -3px;
}

.home-icon {
    vertical-align: middle;
    font-size: 25px;
}

form {
    float: right;
    margin-top: 8px;
    height: 24px;
    position: relative;
}

input {
    height: 22px;
    width: 250px;
    border: none;
}

#search-field {
    color: #52AACE;
    padding-left: 25px;
}

.search-icon {
    position: absolute;
    left: 5px;
    top: 3px;
    background-color: transparent;
    color: #52AACE;
}

#carousel .carusel input {
    display: none;
}

#carousel .carusel {
    width: 1200px;
    height: 255px;
    margin: 0 auto;
    position: relative;
}

#carousel .carusel span {
    font-size: 22px;
    color: #0F4762;
}

#carousel #arrows label {
    display: none;
    opacity: 0.6;
}

#carousel #arrows label:hover {
    opacity: 1;
}

#carousel .inner {
    width: 500%;
}

#slide1:checked ~ #arrows label:nth-child(3),
#slide2:checked ~ #arrows label:nth-child(1),
#slide3:checked ~ #arrows label:nth-child(2) {
    width: 0;
    height: 0;
    display: block;
    border: 20px solid transparent;
    border-right-color: #FD6D26;
    border-left: 0 #FD6D26;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    left: -22px;
}

#slide1:checked ~ #arrows label:nth-child(2),
#slide2:checked ~ #arrows label:nth-child(3),
#slide3:checked ~ #arrows label:nth-child(1) {
    width: 0;
    height: 0;
    display: block;
    border: 20px solid transparent;
    border-right: 0 #FD6D26;
    border-left-color: #FD6D26;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    right: -22px;
}

#carousel #slide1:checked ~ .slides .inner {margin-left: 0}
#carousel #slide2:checked ~ .slides .inner {margin-left: -240px}
#carousel #slide3:checked ~ .slides .inner {margin-left: -480px}

#carousel .slides .inner {
    transition: all 0.8s ease-in-out;
}

#carousel .slides {
    overflow: hidden;
}

#carousel .clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#carousel .trampoline {
    float: left;
    background-color: white;
    box-sizing: border-box;
    width: 240px;
    border: 2px solid #FFF;
    padding: 5px;
    text-align: center;
}

#carousel .trampoline:hover {
    border: 2px solid #47AEBF;
}

#carousel .trampoline img {
    width: 100%;
}

#carousel .trampoline-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 17px;
    font-family: 'Arial', serif;
}

#carousel .description {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#carousel .description li {
    float: left;
}

#carousel .description li a {
    display: block;
    padding: 10px 10px 0 10px;
    font-size: 23px;
    text-decoration: none;
    color: black;
}

#carousel .description li a:hover {
    text-decoration: underline;
    color: blue;
}

#carousel .trampoline:hover .description {
    display: inline-block;
}

#banners {
    background-color: #e9dbce;
    padding-top: 10px;
}

#banners .slider {
    width: 940px;
    margin-right: 10px;
}

#banners .certificates {
    margin-left: 10px;
}

#banners .certificates-img {
    width: 250px;
}

#banners .banners-row {
    font-size: 0;
    padding-bottom: 10px;
}

#banners .banners-row a {
    display: inline-block;
    width: calc(98% / 3);
    box-sizing: border-box;
}

#banners .banners-row a:not(:first-child) {
    margin-left: 1%;
}

#banners .banners-row a img {
    width: 100%;
}

#banners .banners-row div {
    display: inline-block;
}

#banner-slider input {
    display: none;
}

#banner-slider {
    width: 940px;
    position: relative;
}

#banner-slider .radio-buttons {
    position: absolute;
    left: 50%;
    bottom: 6px;
    margin-left: -40px;
}

#banner-slider .slider-inner {
    width: 500%;
}

#banner-slider .radio-buttons label {
    float: left;
    display: block;
    width: 5px;
    height: 5px;
    margin: 0 6px 0 0;
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: white;
}

#banner-slider #banner1:checked ~ .radio-buttons label:nth-child(1),
#banner-slider #banner2:checked ~ .radio-buttons label:nth-child(2),
#banner-slider #banner3:checked ~ .radio-buttons label:nth-child(3),
#banner-slider #banner4:checked ~ .radio-buttons label:nth-child(4) {
    background-color: #FD6D26;
    cursor: pointer;
}

#banner-slider #banner1:checked ~ .big-banners .slider-inner {margin-left: 0}
#banner-slider #banner2:checked ~ .big-banners .slider-inner {margin-left: -940px}
#banner-slider #banner3:checked ~ .big-banners .slider-inner {margin-left: -1880px}
#banner-slider #banner4:checked ~ .big-banners .slider-inner {margin-left: -2820px}

#banner-slider .big-banners .slider-inner {
    transition: all 0.8s ease-in-out;
}

#banner-slider .big-banners {
    overflow: hidden;
}

#banner-slider .big-banner {
    float: left;
    background-color: white;
    box-sizing: border-box;
    width: 940px;
}

#banner-slider .big-banner img {
    width: 100%;
}

main {
    background-color: #e9dbce;
    padding-bottom: 15px;
}

main .container {
    background-color: white;
    border-radius: 5px;
}

main .content-row {
    padding: 5px 25px 10px 25px;
    box-sizing: border-box;
}

main .content-img {
    height: 550px;
    width: 440px;
}

main .content-row .wide-col {
    width: 660px;
}

main .content-row .narrow-col {
    width: 440px;
}

main .narrow-content-img {
    width: 440px;
    height: 450px;
}

main .wide-content-img {
    width: 660px;
    height: 450px;
}

main .content-row .col:first-child {
    float: left;
    margin-right: 25px;
}

main .content-row .col:last-child {
    float: right;
}

main .col-7 {
    display: inline-block;
    width: 45%;
}

main .col-5 {
    float: right;
    margin-top: 7%;
}

main .col-5 img {
    width: 600px;
    height: 300px;
}

main h1 {
    color: #095E85;
    font-size: 28px;
    padding-bottom: 20px;
}

main h2 {
    color: #6B6B6B;
    font-size: 16px;
    padding-top: 10px;
}

main p {
    line-height: 25px;
}

main .col {
    position: relative;
}

figure.background-link {
    position: relative;
    overflow: hidden;
    margin: 0;
    font-size: 0;
}

figure.background-link:hover:after {
    content: "\f002";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: #2C3D4E;
    height: 250px;
    border-top: 8px solid #50ACD4;
    color: white;
}

footer .container:first-child {
    height: 50px;
    border-bottom: 1px solid white;
}

footer .container > div {
    line-height: 50px;
}

footer .flags {
    float: right;
}

footer .flags .active {
    opacity: .4;
}

footer .twitter a{
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

footer .twitter a:nth-child(3) {
    padding-right: 20px;
}

footer .flags span {
    padding-right: 10px;
}

footer .flags img {
    vertical-align: middle;
}